<div class="sticky-top bg-white">
  <div class="d-flex justify-content-between align-items-center gap-2 p-2" style="background: linear-gradient(#A5CAD2);">
    <h4 style="padding-left: 10px;">Find more friends in</h4>
    @if (!searchNewContact) {
      <i class="fas fa-comment-medical cursor-pointer" style="font-size: 2rem; padding-bottom: 5px;" (click)="searchContact()"></i>
    } @else {
      <i class="fas fa-times-circle cursor-pointer" style="font-size: 2rem; padding-bottom: 5px;" (click)="searchNewContact = false"></i>
    }

  </div>
  <div class="d-flex flex-column gap-1 p-2" style="background: linear-gradient(to bottom,#A5CAD2,#b5bac7);">
    <div class="InputContainer">
      <input
        placeholder="Search your friends"
        id="input"
        class="input"
        name="text"
        type="text"
        [(ngModel)]="searchTerm" 
        (input)="searchContact()" 
      >
    </div>
    <div class="radio-inputs">
      <label class="radio">
        <input type="radio" name="radio" [checked]="!showUnread" (click)="showUnread = false">
        <span class="name" [class.active]="!showUnread">ALL</span>
      </label>
      <label class="radio">
        <input type="radio" name="radio" [checked]="showUnread" (click)="toggleUnread()">
        <span class="name" [class.active]="showUnread">UNREAD</span>
      </label>
    </div>
  </div>

</div>
<div class="chat-list mt-3">
  @if (getFilteredChats().length && !searchNewContact) { <!-- CHANGED -->
    @for (chat of getFilteredChats(); track chat) { <!-- CHANGED -->
      <div class="d-flex align-items-center justify-content-between border-bottom-gray p-2"
      (click)="chatClicked(chat)"
      >
        <div class="d-flex gap-2">
          <div class="user-img">
            <img src="user.png" alt="">
          </div>
          <div class="d-flex flex-column">
            <span>{{ chat.name }}</span>
            <small class="text-secondary">
              @if (chat.lastMessage === 'Attachment') {
                <i class="fas fa-image"></i>
              }
              {{ wrapMessage(chat.lastMessage) }}
            </small>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <span class="msg-date" [class.unread]="chat.unreadCount && chat.unreadCount > 0">{{ chat.lastMessageTime | date:'HH:mm dd/MM/yy' }}</span>
          @if (chat.unreadCount && chat.unreadCount > 0) {
            <small class="unread-msg-badge">{{ chat.unreadCount }}</small>
          }
        </div>
      </div>
    }
  } @else if (searchNewContact) {
    @for (contact of contacts; track contact) {
      <div class="d-flex align-items-center justify-content-between border-bottom-gray p-2"
           (click)="selectContact(contact)">
        <div class="d-flex gap-2">
          <div class="user-img">
            <img src="user.png" alt="">
          </div>
          <div class="d-flex flex-column">
            <span>{{ contact.firstName + ' ' + contact.lastName }}</span>
            @if (contact.online) {
              <small class="text-secondary">Online</small>
            } @else {
              <small class="text-secondary">Last seen&nbsp;{{ contact.lastSeen | date:'HH:mm dd/MM/yyyy' }} </small>
            }

          </div>
        </div>
      </div>
    }
  } @else {
    <span></span>
  }
</div>